<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="parentChildRelation" providerName="MySql.Data.MySqlClient" connectionString="Server=127.0.0.1;Database=fact_dimension_relationship;User Id=root;Password=root;" />
  </connectionStrings>
  
  <appSettings>
    <add key ="schema" value="fact_dimension_relationship"/>
    <add key="parentChildTable" value="parent_child_data"/>
    <add key="factDataTable" value="fact_data"/>
    <add key="fact" value="fact"/>
    <add key="anchorWhere4Key" value="anchorWhere4Key"/>
    <add key="anchorWhatKey" value="anchorWhatKey"/>
    <add key="anchorHow3Key" value="anchorHow3Key"/>
    <add key ="child" value="child"/>
    <add key ="anchor" value="anchor"/>
    <add key ="id" value="id"/>
    <add key ="when3Key" value="when3Key"/>
    <add key ="where4Key" value="where4Key"/>
    <add key ="whatKey" value="whatKey"/>
    <add key ="how3Key" value="how3Key"/>
    <add key="degreeOfParallelism" value="4"/>
    <add key="connectionCount" value="4"/>

  </appSettings>
</configuration>