<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="parentChildRelation" providerName="MySql.Data.MySqlClient" connectionString="Server=127.0.0.1;Database=fact_dimension_relationship;User Id=root;Password=root;" />
  </connectionStrings>
  
  <appSettings>
    <add key ="schema" value="fact_dimension_relationship"/>
    <add key="parentChildTable" value="parent_child_data"/>
    <add key="factDataTable" value="fact_data"/>
    <add key="fact" value="fact"/>
    <add key="anchorWhere4Key" value="anchorWhere4Key"/>
    <add key="anchorWhatKey" value="anchorWhatKey"/>
    <add key="anchorHow3Key" value="anchorHow3Key"/>
    <add key ="child" value="child"/>
    <add key ="anchor" value="anchor"/>
    <add key ="id" value="id"/>
    <add key ="When3Key" value="When3Key"/>
    <add key ="Where4Key" value="Where4Key"/>
    <add key ="WhatKey" value="WhatKey"/>
    <add key ="How3Key" value="How3Key"/>
    <add key="degreeOfParallelism" value="4"/>
    <add key="connectionCount" value="4"/>
    <add key="minimumAcceptedLength" value="4"/>
    <add key="connectionCount" value="4"/>
    <add key="keySize" value="3"/>
    <add key ="arrow" value="26"/>
    <add key="and" value=" and "/>
    <add key="or" value=" or "/>
    <add key="on" value=" on "/>
    <add key="join" value=" join "/>
    <add key="select" value="select"/>
    <add key="from" value="from "/>
    <add key="distinct" value=" distinct "/>
    <add key ="maxYPosition" value="550"/>
    <add key ="minYPosition" value="10"/>
    <add key ="increamentedXPosition" value="50"/>
    <add key ="startFromNewXPosition" value="200"/>
    <add key ="increamentedYPosition" value="20"/>
    <add key ="notAcceptableValue" value="0"/>
    
    
  </appSettings>
</configuration>